*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg_dark: #000000;
    --bg_primary: #222222;
    --bg_secondary: #4a4a4a;
    --light: #e8e9ea;
    --details: #45b407;
    --end: #fa0b12;
}

.container{
    width: 90%;
    max-width: 1152px;
    margin: auto;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}


/*Header*/

#app-header{
    background-color: var(--bg_dark);

    position: sticky;
    left: 0;
    top: 0;

    z-index: 99;
}

#app-header .btn-view{
    display: flex;
   justify-content: flex-end;
}

.speaker,
.expand{
    background-color:var(--bg_secondary);

    margin: 0.2rem;
    padding: 0.1rem 0.3rem; 
    font-size: 12px;
    border-radius: 0.3rem;
}

.btn-view a{
    color: var(--light);
}
/*Main*/

#app-main{
    background-color: var(--bg_dark);
    height: 100vh;

}

.container .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row > .card{
    width: calc(100% / 7 - 8px);
   
    margin: 5px 1px;
    position: relative;
}

.card .text{
    position: absolute;
    bottom:5px;
    left: 0;
    
    background-color: #22222277;
    color: white;

    font-size: 12px;
    padding: 1px;
}

/*Footer*/

#app-footer{
    background-color: var(--bg_primary);
    position:sticky;
    bottom: 0;
    left: 0;
    
}

.item{
    display: flex;
    justify-content: space-between;

    padding: 0.75rem 0;
   
}

.item a{
    color: var(--light);
}

ul li{
    list-style: none;
    margin-left: 1rem;
}

ul{
    display: flex;
    text-align: center;
    
}

li span{
    display: block;
    font-size: 10px;
    margin-top: 5px;
}

.end a{
    background-color: var(--bg_secondary);
    color: var(--end);
    padding: 15px 10px;
    
    font-size: 12px;

}